


<main>
    <h1>Upcoming Events</h1>
    <div id="events-container"></div>
    <button id="EventButton" class="btn btn-outline-primary">Add an event</button>
    <div id="popupContainer"></div>


</main>
<footer  class="bg-body-tertiary text-center text-lg-start">

    <div class="container p-4">
        <div class="footer">
            <div class="text-center p-3">
                <div class="col-lg-12">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="privacy_policy.html" class="text-body">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="terms_of_service.html" class="text-body">Terms of Service</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="contact.html" class="text-body">Contact</a>
                        </li>
                    </ul>
                    © 2024 Copyright
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
