<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link rel = "stylesheet" href = "../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../Content/css/app.css">
</head>
<body>
<header>
</header>


<main class = "container">
    <div class="pp">
    <h1>Privacy Policy for Harmony Hub</h1>
    <h6>Last updated on 26/01/2024</h6>
    <p>Welcome to Harmony Hub! This Privacy Policy is designed to help you understand how we collect, use, and safeguard
        your personal information. Please take a moment to familiarize yourself with our privacy practices.</p>
    <h4>Types of Data Collected</h4>
        <p>We gather personally identifiable information, such as your name, email address, phone number, and address,
            which you freely supply when you interact with our website, sign up for emails, or attend events and
            activities. In addition, we may collect non-personal information such as browser type, device
            characteristics, and usage habits. This non-personal data is automatically gathered using cookies and other
            tracking technologies to improve your overall experience on our website. These metrics enable us to analyse
            use trends, enhance our services, and provide you a more personalised and optimised encounter.
        </p>
        <h4> Data Usage</h4>
        <p>We use the personal information you submit for a variety of purposes, such as communicating about Harmony Hub
            events, activities, and updates. This information is also used to complete registrations for events and
            activities, distribute newsletters and promotional materials with your permission, and reply to queries while
            providing customer service. Non-personal information, on the other hand, is used to analyse website usage trends,
            which ultimately helps us improve our services and user experiences. This data analysis provides us with insights
            into how users browse our site, allowing us to make educated decisions about how to optimise and modify
            our content for a more engaging and user-friendly experience.
        </p>
    <h4>User Rights</h4>
    <p>You have the right to view and rectify your personal information. If you would like to review or change the
        information we have on file, please contact us at <b>[mvmg123@harmonyhub.com]</b>. Furthermore, we respect your
        preferences by giving you the opportunity to opt-out of receiving promotional materials and newsletters. You
        can make this option by clicking the unsubscribe link in our emails or contacting us directly. Furthermore, you
        may request that we delete your personal information from our records. However, even after your personal data
        has been deleted, certain information may be preserved for legal or administrative purposes.
    </p>
    <h4>Security Measures</h4>
    <p>We prioritize the security of your information and have implemented appropriate measures to protect against
        unauthorized access, alteration, disclosure, or destruction of data.</p>
    <h4>Changes to the Privacy Policy</h4>
    <p>We may update this Privacy Policy periodically to reflect changes in our practices or for legal reasons.
        Any modifications will be effective immediately upon posting on this page.</p>
    <h5><b>Thank you for being a part of the Harmony Hub community!</b></h5>
    </div>
</main>
<footer  class="bg-body-tertiary text-center text-lg-start">
    <div class="container p-4">
        <div class="text-center p-3">
            <div class="col-lg-12">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="privacy_policy.html" class="text-body">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="terms_of_service.html" class="text-body">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="contact.html" class="text-body">Contact</a>
                    </li>
                </ul>
                © 2024 Copyright
            </div>
        </div>
    </div>
</footer>
<!--<Scripting Section>-->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../Scripts/app.js"></script>

</body>
</html>