<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service Page</title>
    <link rel = "stylesheet" href = "../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../Content/css/app.css">
</head>
<body>
<header>
</header>


<main class = "container">
    <div class="pp">
    <h1>Terms of Service</h1>
    <h6>Last updated on 26/01/2024</h6>
    <p>Welcome to the Harmony Hub! This Terms of Service agreement controls how you use our website and services.
        Please review these terms carefully before using our website. By accessing or using Harmony Hub, you agree to
        these conditions. If you do not agree to any of these conditions, please do not use our site.
    </p>
    <h4>User Responsibilities</h4>
    <p>As users interact with Harmony Hub, they are responsible for their activities in accordance with the principles
        established in this Terms of Service agreement. This includes a pledge to follow all applicable rules and
        regulations regulating their usage of the site. Furthermore, if users want to register an account with Harmony
        Hub, they agree to keep their account information secure. This includes taking steps to limit access to their
        computer or mobile device and ensure the security of their login information. Users explicitly agree to bear
        responsibility for any actions that occur under their account, recognising the need of protecting their account
        information to avoid unauthorised access and use.
    </p>
    <h4> Copyright Information</h4>
    <p>Harmony Hub owns or licences all material available on the platform, including text, graphics, logos, photos,
        audio clips, and software, all of which are protected by copyright laws. In addition to the information given by
        Harmony Hub, users may submit their own content, such as comments or forum posts, to improve the platform's
        collaborative character. By contributing material, users agree to offer Harmony Hub a non-exclusive, royalty-free,
        permanent, and global licence. This licence grants Harmony Hub permission to use, reproduce, edit, adapt, publish,
        translate, distribute, and display the provided material. Through this arrangement, users allow Harmony Hub to
        exhibit and enrich the platform's content while adhering to the rules of this agreement.
    </p>
    <h4>Disclaimers</h4>
    <p>Harmony Hub is committed to providing users with accurate and up-to-date information, as well as a trustworthy
        experience. However, we cannot guarantee the availability or accuracy of the material on our website. Users are
        urged to use the information given at their own risk, noting that Harmony Hub cannot guarantee ongoing
        availability or absolute accuracy of the content.<br><br>Furthermore, our website may contain connections to
        third-party websites or services for the convenience and enrichment of our visitors. It is critical to
        understand that Harmony Hub is not responsible for the content, privacy policies, or practices of these linked
        sites. Users should take caution and read the terms and policies of any connected third-party websites, as they
        are independent of Harmony Hub and may have different terms of service and privacy standards.
 </p>
    <h4>Changes to Terms of Service</h4>
    <p>We may update these Terms of Service periodically. Any modifications will be effective immediately upon posting
        on this page.If you have any questions or concerns about these Terms of Service, please contact us at
        <b>[mvmg123@harmonyhub.com]</b>.</p>
    <h5><b>Thank you for being a part of the Harmony Hub community!</b></h5>
    </div>
</main>
<footer  class="bg-body-tertiary text-center text-lg-start">
    <div class="container p-4">
        <div class="text-center p-3">
            <div class="col-lg-12">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="privacy_policy.html" class="text-body">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="terms_of_service.html" class="text-body">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="contact.html" class="text-body">Contact</a>
                    </li>
                </ul>
                © 2024 Copyright
            </div>
        </div>
    </div>
</footer>
<!--<Scripting Section>-->
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../Scripts/app.js"></script>

</body>
</html>