<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" data="home"><i class="fa-regular fa-building"></i> Harmony Hub</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" data="home"> <i class="fa-solid fa-house"></i>home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="portfolio"> <i class="fa-regular fa-user"></i> Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="services"><i class="fa-solid fa-handshake-angle"></i> Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="team"><i class="fa-solid fa-people-group"></i> Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="blog"><i class="fa-solid fa-blog"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="gallery"><i class="fa-sharp fa-solid fa-photo-film"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="events"><i class="fa-regular fa-calendar-days"></i> Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="contact"> <i class="fa-solid fa-phone"></i> Contact US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data="serach"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data="statistics"><i class="fa-solid fa-chart-line"></i> Statistics</a>
                </li>
                <li id="login" class="nav-item">
                    <a class="nav-link" data="login"> <i class="fas fa-sign-in-alt"></i>Login</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
